.articles-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;

}
.content-wrapper {
  padding: 50px 40px;
}
.articles-logo-container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.articles-logo {
  display: flex;
  position: fixed;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  top: 10vh;
  left: 5vw;
  z-index: 999;
}

.articles-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  text-align: center;
}

.articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.articles-article {
  padding-left: 5px;
  padding-bottom: 20px;
  border-left: 2px solid #f4f4f5;
  width: 100%;
}
.articles-title {
  color: white;
}
.articles-subtitle {
  color: grey;
}
.articles-footer {
  position: fixed;
  bottom: 5%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .articles-logo-container {
    position: absolute;
    top: 20px;
    left: 10%;
  }
}
@media (max-width: 1024px) {
  .articles-title {
    width: 100% !important;
  }

  .articles-subtitle {
    width: 100% !important;
  }
}
